<!-- サイドバー -->
<!-- <div class="sidebar flex-column flex-shrink-0 p-3 bg-dark text-white vh-100 d-lg-block" id="sidebar"> -->
<div class="sidebar flex-column flex-shrink-0 p-3 bg-dark text-white vh-100 d-lg-block" id="sidebar">

  <!-- サイドバーの閉じるボタン -->
  <button id="sidebar-close" class="btn btn-light d-lg-none">
    × 閉じる
  </button>

  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= sidebar_link_to(root_path, t('sidebar.contents.top')) %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to("#", t('sidebar.contents.log_in')) %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to("#", t('sidebar.contents.request_holiday')) %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to("#", t('sidebar.contents.request_partner')) %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to(home_list_path, t('sidebar.contents.user_list')) %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to(new_user_path, t('sidebar.contents.add_user')) %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to("#", t('sidebar.contents.setting')) %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to("#", t('sidebar.contents.log_out')) %>
    </li>
  </ul>
</div>

<!-- ハンバーガーメニューボタン（スマートフォン用） -->

  <div class="container-fluid">
    <!-- トグルボタン -->
    <button id="sidebar-toggle" class="btn btn-primary">
      ☰ メニュー
    </button>
  </div>
